.tileContainer {
    min-width: 60%;
}

.tile {
    display:flex;
    background-color:#fff;       
    margin: 20px auto; 
    padding-left:0;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(33,33,33,0.5); 
    border-radius: 5px;
    width:100%;
}

.tile:hover {
    box-shadow: 0 0 6px rgba(33,33,33,0.5);        
}

.voteContainer {
    min-width:50px;
    background-color:#f8f9fa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border-right: 1px solid rgba(33,33,33,0.1);
    color:#454545;
}

.postPreview {
    margin-left:20px;
    padding: 10px 40px 10px 0px
}

.postHeader {
    display:flex;
}

.postHeader p {
    margin-right:10px;
    margin: 5px 5px 5px 0;
    font-size: 0.8em;;
}

.postBody, .imagePreivew {
    max-width:100%;    
}

.postBody h3 {
    margin: 5px 0 15px 0;
}

.imagePreivew img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postTitle {
    color:#333;
    text-decoration:none !important;
}

.subredditLink {
    text-decoration: none;
    color:#333;
}

.subredditLink:hover, .postTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.commentContainer {
    height: auto;
}

.commentContainer div {
    width:auto;
    display:inline-flex;
    align-items: center;
}

.commentContainer div p {
    margin:0;
    padding:10px 0;
}

@media screen and (max-device-width: 960px), screen and (max-width: 960px) {
    .tileContainer {
        min-width: 90%;
    }    
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {

    .tileContainer {
        min-width: 100%;
    }

    .tile {
        border-radius:0;
    }
    .postHeader p {
        font-size: 0.7em;
    }

}