.nav-bar {
    height:3.5em;
    width:100%;
    box-shadow: 0px 2px 8px rgba(112, 112, 112, 0.25);   
    display: flex; 
    background-color:#fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.logo-container, .space-container {
    flex: 1 !important;
}

.logo-container div {
    height:100%;
    width:100%;
}

.logo-container div img {
    height: 75%;
    padding: 1.75% 3%;
    width:auto;
}

.search-bar-container {
    flex: 3;
    box-sizing: border-box;
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .nav-bar {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .logo-container div {
        text-align: center;
    }

    .logo-container div img {
        width: 60% !important;
        padding: 10px 5px 5px 0px;
        height: auto;
        margin: 0 auto;
    }

    .search-bar-container {
        width: 100%;
    }

}