.fullPostContainer {
    width:90%;
    margin: 0 auto;
}
.fullPostContainer h2 {
    text-align: center;
}

.commentBody {
    width:60%;
    margin: 0 auto;
}

@media screen and (max-device-width: 960px), screen and (max-width: 960px) {
    .fullPostContainer,.commentBody {
        min-width: 90%;
    }    
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {

    .fullPostContainer,.commentBody {
        width:100%;
    }   

    .commentBody{
        border-radius: 0;        
    }

}